@use "../../styles/scss/variables" as vars;


.tab {
  color: var(--text-light-color);
  cursor: pointer;
  font-size: var(--text-size-large);
  background-color: transparent;
  padding: 15px 12px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  border: none;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  border-bottom: 2px solid transparent;


  &.selected {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    opacity: 1;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}