@use "../../styles/scss/variables" as vars;

.listbox {
  box-sizing: border-box;
  padding: 8px 0px;
  margin: 12px 0;
  min-width: 200px;
  border-radius: 6px;
  overflow: auto;
  outline: 0px;
  background: var(--background-color);
  //border: 1px solid #24292f;
  color: var(--text-color);
  box-shadow: 0px 4px 20px #cacaca;
}

.popper {
  z-index: 1002;
}

.backdrop {
  z-index: 1001;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  -webkit-tap-highlight-color: transparent;
}