@use "../../styles/scss/variables" as vars;

.container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.body {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: vars.$small-screen) {
    margin-bottom: 0px;
  }
}

