


.logo-box {
  display: flex;
  align-items: center;
  outline: none;
}

.logo-box.vertical {
  flex-direction: column;
  justify-content: center;
}

.image {
  display: flex;
  align-items: center;
}
.logo-box.vertical .logo {
  margin-right: 0;
  margin-bottom: 10px;
}

.text {
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
}
