

.not-found-page {
  margin-top: 10px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}

.preview {
    font-size: 70px;
    line-height: 80px;
    font-weight: bold;
    margin-bottom: 10px;
}
