@use "../../styles/scss/variables" as vars;

.container {
  margin-top: 0px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.container::before {
  content: "";
  background: url("/images/recipe5.png");
  background-position: left top;
  background-size: 82%;
  position: absolute;
  top: 60px;
  left: -65px;
  width: 300px;
  height: 350px;
  opacity: 0.95;
  background-repeat: no-repeat;
  @media (max-width: vars.$small-screen) {
    display: none;
  }
}

.container::after {
  content: "";
  background: url("/images/recipe4.png");
  background-position: right top;
  background-size: 100%;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 200px;
  height: 400px;
  background-repeat: no-repeat;
  @media (max-width: vars.$small-screen) {
    display: none;
  }
}



.body {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: vars.$small-screen) {
    margin-bottom: 0px;
  }
}



.filter-expanded-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  
}

.filter-expanded {
  margin-bottom: 30px;
}


.filter-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.filters {
  display: flex;
  @media (max-width: vars.$small-screen) {
    flex-direction: column;
  }
}

.filter {
  margin-left: 10px;
  margin-right: 10px;
  min-width: 200px;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  text-align: center;
  @media (max-width: vars.$small-screen) {
    height: 60px;
  }
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.search-type {
  margin-top: 10px;
  color: var(--text-light-color);
  border: 1px solid var(--border-dark-color);
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.9;
}

.search-type:hover {
  opacity: 1;
}

.search-type-value {
  font-weight: bold;
  color: var(--primary-color);
}


.ingredient-icon {
  margin-bottom: 35px;
  color: var(--primary-color)
}