@use "../../styles/scss/variables" as vars;

.breadcrumbs {
  //margin: var(--spacer) 0;
  font-size: 15px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: vars.$small-screen) {
    font-size: 14px;
  }

  &.small {
    font-size: 14px;
    @media (max-width: vars.$small-screen) {
      font-size: 11.5px;
    }
  }

  li {
    display: flex;
    align-items: center;
     white-space: normal;
    word-wrap: break-word;
    font-weight: bold;

    a {
      color: var(--text-color);
      text-decoration: none;
      vertical-align: middle;
      transition: 0.3s;

      &:hover,
      &:focus {
        color: var(--link-color);
      }
    }
  }

 

  &__active {
    a {
      color: var(--text-color);
      font-weight: var(--font-weight-bold);

      &:hover {
        color: var(--text-color);
      }
    }
  }
}
