@use "../../styles/scss/variables" as vars;

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark-color);
}

.container {
  background-color: var(--background-color);
  position: relative;
  border-radius: 15px;
  padding: var(--padding);
  width: 100%;
  max-width: 750px;
  min-height: calc(100vh - 50px);
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 40px;
  @media (max-width: vars.$small-screen) {
    margin: 0;
    border-radius: 0;
    min-height: 100vh;
  }
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 25px;
  @media (max-width: vars.$small-screen) {
    margin-top: 50px;
  }
}

.subtitle {
  margin-bottom: 20px;
}

.body {
  width: 100%;
  display: flex;
  padding: 0 25px;
  @media (max-width: vars.$small-screen) {
    flex-direction: column;
  }
}



.left {
  margin-right: 10px;
}
.right {
  margin-left: 10px;
  @media (max-width: vars.$small-screen) {
    margin-top: 30px;
  }
}

.left,
.right {
  width: 50%;
  max-width: 50%;
  @media (max-width: vars.$small-screen) {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


.field {
  margin-bottom: 20px;
}

.button {
  margin-top: 25px;
  width: 100%;
  height: 55px;
}

.image {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 220px;
  //opacity: 0.8;
  @media (max-width: vars.$small-screen) {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    max-height: 270px;
  }
}

.footer {
  position: absolute;
  bottom: 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  .support {
    display: flex;
    align-items: center;
  }
}

.link {
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: var(--text-light-color);
  text-align: center;
  width: max-content;
  margin-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
}
