

.support-page {
  margin-top: 10px;
  margin-bottom: 150px;
}

.form {
  margin-top: 10px;
  max-width: 600px;
  padding: var(--padding);
}

.success {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  .success-icon {
      color: var(--text-color);
      margin-bottom: 10px;
  }
  .success-text {
      color: var(--text-color);
      text-align: center;
  }
}