//@use "~reset-css");
@use "./variables" as vars;



body {
  font-family: var(--font-family), var(--roboto-font);
  font-size: var(--text-size);
  line-height: var(--line-height);
  background-color: var(--body-background-color);
  color: var(--text-color);
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

* {
  box-sizing: border-box;
}


h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
  color: var(--text-dark-color)
}

h3 {
  font-size: var(--font-size-h3);
  line-height: 1.7rem;
}

h4 {
  font-size: var(--font-size-h4);
}

a {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

p {
  line-height: 1.5rem;
}

strong, b {
  font-weight: var(--font-weight-bold);
}

em {
  font-style: italic;
}

//#root,
//#__next {
//  display: flex;
//  min-height: 100vh;
//  flex-direction: column;
//
//  & > div:first-of-type {
//    flex: 1;
//  }
//}



