//@use "~reset-css");
@use "./variables" as vars;

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}



input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
-webkit-box-shadow: 0 0 0 1000px var(--background-light-color) inset !important;
-webkit-text-fill-color: var(--text-color) !important;
border-radius: 10px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}



.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.card {
  background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
  border: var(--card-border);
  transition: box-shadow 0.3s ease-in-out;  
  border-radius: var(--card-border-radius)
}

.title {
  font-size: 1.25rem;
  line-height: 1.6;
  color: var(--title-color);
}


.hero-title {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  color: var(--title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link {
  color: var(--link-color);
  cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}


#lds-dual-ring {
    display:inline-block;
    //width:80px;
    //height:80px;
}

#lds-dual-ring:after {
    content:" ";
    display:block;
    width:64px;
    height:64px;
    margin:8px;
    border-radius:50%;
    border:6px solid #09035d;
    border-color: #09035d transparent #09035d transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}


.MuiModal-root * {
  box-sizing: border-box;
}

.MuiTab-root.Mui-selected {
    color: var(--primary-color) !important;
}
.MuiTabs-indicator {
    background-color: var(--primary-color) !important;
}

.commons-menu {
    z-index: 900;
}
.commons-menu .MuiPaper-root {
    box-shadow: var(--container-shadow-large);
    max-width: 350px;
}

.commons-menu .MuiBackdrop-root {
    //display: none;
}

.product-action-drawer .MuiDrawer-paper {
    max-width: calc(100% - 50px);
}


.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}